<template>
  <div id="app">
    <scatter-chart class="graphPaper" legend="none"
      :data="graphData.filter(item => item.active).filter(item => !item.hidden)"
      :ytitle="graphSettings.ytitle"
      :xmin="0" :ymin="0" :height="graphHeight + 'px'"
    />
    <progress-panel
      :graphData="graphData"
      :testAmount="testAmount * chunkSize"
    />
  </div>
</template>

<script>
import configuration from './constants/configuration'
import Vue from 'vue'
import ProgressPanel from './components/ProgressPanel'
import Chartkick from 'vue-chartkick'
import Chart from 'chart.js'
import { Duration } from 'luxon'

Vue.use(Chartkick.use(Chart))
Chartkick.options = {
  chartStyle: configuration.chartStyle
}

export default {
  name: 'App',
  components: {
    'progress-panel': ProgressPanel
  },
  created () {
    window.requestAnimationFrame(this.notify)

    wait(1000).then(async () => {
      await probeActive(this)

      await getGraphData(this)
        .then(() => {
          this.updateGraph = false
          console.info('Ended testing')
        })
    })
  },
  data () {
    return {
      testAmount: configuration.testAmount,
      chunkSize: configuration.chunkSize,
      graphSettings: configuration.graphSettings,
      graphData: configuration.tests
        .map(test => ({ ...test, data: [], progress: null, errors: [] })),
      updateGraph: true
    }
  },
  computed: {
    graphHeight () {
      return Math.floor(window.screen.height / 3) - 50
    }
  },
  methods: {
    notify: function () {
      this.graphData.__ob__.dep.notify()
      if (this.updateGraph) window.requestAnimationFrame(this.notify)
    }
  }
}

const probeActive = async ($this) => {
  await Promise.all($this.graphData.map(async (test, index, collection) => {
    await fetch(`${test.host}?t=${new Date().getTime()}`)
      .then(async (response) => {
        if (response.status !== 200) throw response.statusText
        await response.json()
      })
      .then(() => {
        test.active = true
      })
      .catch(err => {
        test.active = false
        test.errors.push(err.toString())
      })
  }))
}
const getGraphData = async ($this) => {
  const chunkSize = configuration.chunkSize
  const iterationCount = configuration.testAmount

  await Promise.all($this.graphData
    .filter(item => item.active)
    .map(async (test, _, collection) => {
      await wait(Math.ceil(500 * Math.random()))

      let index = 0
      await iterate(iterationCount, async (iteration) => {
        await wait(Math.ceil(500 * Math.random()))

        await iterate(chunkSize, async (chunk) => {
          index++
          await runTest($this, test, index)
        })
      })
    }))
}

const runTest = async ($this, test, iteration) => {
  try {
    await wait(Math.ceil(100 * Math.random()))

    const response = await fetch(`${test.host}?t=${new Date().getTime()}`)
    const timedResponse = await response.json()

    // const startTime = DateTime.fromMillis(timedResponse.startTime)
    // const endTime = DateTime.fromMillis(timedResponse.endTime)
    const elapsedTime = Duration.fromMillis(timedResponse.elapsedTime)
    test.data.push([iteration, elapsedTime.milliseconds])

    test.progress = test.data.length
    const average = test.data.reduce((prev, next) => prev + next[1], 0) / test.data.length
    const peak = (test.peak || -1) < elapsedTime ? elapsedTime.milliseconds : test.peak
    const base = (test.base || Number.MAX_SAFE_INTEGER) > elapsedTime ? elapsedTime.milliseconds : test.base
    test.average = average
    test.averageRounded = roundDecimal(average)
    test.peak = peak
    test.peakRounded = roundDecimal(peak)
    test.base = base
    test.baseRounded = roundDecimal(base)
  } catch (err) {
    test.errors = [ ...test.errors, err.toString() ]
    throw err
  }
}

const roundDecimal = (number) => Math.round(number * 100) / 100

const iterate = async (amount, func) => {
  // for some reason I can't get this to work functionally
  for (let index = 0; index < amount; index++) await func(index)
}
const wait = (miliseconds) => new Promise((resolve) => { const id = window.setTimeout(() => { window.clearTimeout(id); resolve() }, miliseconds) })

</script>

<style>
#app {
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12pt;
  text-align: left;
  color: #2c3e50;
  margin-top: 3em;
}
.graphPaper{
  border-bottom: .2em solid #efefef;
}
</style>
