<template>
  <div class="progressPanel">
    <h2>Legend: <span>(Sorted by average)</span></h2>
      <ul>
        <li v-on:click="toggle(item)" :class="!item.active ? 'inactive' : item.hidden ? 'hidden' : false"
          v-for="item in graphDataByAverage" :key="item.id"
          :style="'border-left-color: ' + item.color + '!important'"
        >
          <span class="name">{{ item.name }}</span>
          <span  v-if="item.active && item.progress !== null">
            <br /><span class="data"
              v-bind:title="displayMsOrUndefined(item.average)">Average: {{displayMsOrUnknown(item.averageRounded)}}</span>
            <br /><span class="data" v-if="item.active"
              v-bind:title="displayMsOrUndefined(item.peak)">Peak: {{displayMsOrUnknown(item.peakRounded)}}</span>
            <br /><span class="data" v-if="item.active"
              v-bind:title="displayMsOrUndefined(item.base)">Base: {{displayMsOrUnknown(item.baseRounded)}}</span>
          </span>
          <!-- Todo show error if error -->
          <span class="progressValue" v-if="item.progress !== null">
            {{ item.progress }} / {{ testAmount }}
          </span>
          <span class="progressPending" v-else-if="item.active === undefined" :style="'--color: '+ item.color">
            Probing...
          </span>
          <span class="progressPending" v-else-if="item.active === false" :style="'--color: '+ item.color">
            Unavailable
          </span>
          <span class="progressPending" v-else :style="'--color: '+ item.color">
            Pending...
          </span>
          <progress v-if="item.progress !== null"
            :value="item.progress" :max="testAmount" :style="'--color: '+ item.color" />
          <progress v-else
            :style="'--color: '+ item.color" />
        </li>
      </ul>
    </div>
</template>

<script>
export default {
  name: 'progress-panel',
  props: {
    graphData: {
      required: true
    },
    testAmount: {
      required: true
    }
  },
  computed: {
    graphDataByAverage () {
      return this.graphData.slice().sort((left, right) => {
        const leftAverage = left.average
        const rightAverage = right.average

        if (leftAverage == null) return +1
        if (rightAverage == null) return -1

        return leftAverage - rightAverage
      })
    }
  },
  methods: {
    displayMsOrUnknown: (decimal) => decimal ? `${decimal}ms` : '?ms',
    displayMsOrUndefined: (decimal) => decimal ? `${decimal}ms` : undefined,
    toggle: (item) => {
      if (!item.active) return

      item.hidden = !item.hidden
      item.__ob__.dep.notify()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.name{
  font-weight: bold;
  font-size: 1.5em !important;
  line-height: 1em !important;
}
h2 {
  font-size: 2.5em !important;
  margin-left: -.15em;
  position: relative;
}
h2 > span {
  font-size: .6em;
  top: .2em;
  position: absolute;
  display: inline-block;
  line-break: strict;
}
.hidden, .inactive {
  opacity: .5;
}
li.hidden {
  cursor: pointer;
}
li.inactive {
  cursor: default;
  pointer-events: none;
}

.progressPanel {
  width: 90%;
  margin: 2em auto 0 auto;
  font-size: .7em !important;
}
@media only screen and (max-width: 600px) {
  .progressPanel  {
    font-size: .5em !important;
  }
}
.progressPanel ul, .progressPanel li {
  list-style: none;
  padding: 0;
  margin: 0 0 .5em 0;
}
.progressPanel li {
  border-left-width :.4em;
  border-left-style: solid;
  padding: .2em;
  border-bottom: 1px solid #efefef;
  position: relative;
  padding-right: 30%;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

.progressPanel progress,
.progressPanel .progressValue,
.progressPanel .progressPending {
  position: absolute;
  right: 0px;
  font-size: 1.5em !important;
}
.progressValue, .progressPending {
  z-index: 9;
  text-align: center;
  width: calc(30% - .6em);
  top: calc(50% - .75em);
  padding: .2em .3em .2em .3em;
}
.progressPending {
  color: var(--color);
  font-weight: bolder;
}
.progressValue {
  color: #fff;
  text-shadow: 1px 0 0 rgba(0, 0, 0, .7), 0 -1px 0 rgba(0, 0, 0, .7), 0 1px 0 rgba(0, 0, 0, .7), -1px 0 0 rgba(0, 0, 0, .7);
}
.progressPanel progress {
  z-index: 3;
}
progress {
  appearance: none;
  color: var(--color);
  margin-right: -.2em;
  border: 1px solid #efefef;
  border-bottom: 0px none;
  top: 0px;
  height: 100%;
  width: 30%;
  bottom: 0px;
}
progress::-webkit-progress-bar {
  background-color: white;
}
progress::-webkit-progress-value {
  background-color: var(--color);
}
prgress::-webkit-progress-inner-value {
  background-color: var(--color);
}
progress::-moz-progress-bar {
  background-color: var(--color);
}
</style>
